/* EC-Solution CSS */
.main-c1 { BACKGROUND-COLOR: #CC0000; }

body {
    font-size       : 12pt;
    margin-top      : 10px; 
    margin-left     : 2px;
    transparent     : #ffffff
}

/*Navagate link CSS*/
div.navigator span {
    color           : #000000
}
div.navigator {
    border-bottom   : 0px solid #424892;
    width           : 100%;
    padding         : 0px 0px 2px 0px;
    margin-bottom   : 8px;
    font-size       : 12px;
    color           : #424892;
}
div.fixed { 
	top             :0px;
	right           :10px; 
	font-size       :20pt; 
	color           :#660000;
	text-align      :center;
	padding-top     :2px; 
	background      :orange;
	width           :280px;
	height          :15px;
	position        :absolute;
}
table td{
    white-space: nowrap;
}

/* Fream table CSS*/
table.nb{
    border-style    : none;
    border-collapse: collapse;
}
table.nb tr{
    border-style    : none;
    margin          : 0px;
    padding         : 0px;
    font            : 12px;
}
table.nb td{
    border-style    : none;
    margin          : 0px;
    padding         : 0px;
    font            : 12px;
    white-space: nowrap;
}


/* Search table CSS */
table.sf{
    border-style    : solid; 
    border-width    : 1px 1px 1px 1px; 
    border-color    : #666666;
    empty-cells     : show;
    margin          : 0;
    width           : 740px;
    border-collapse : collapse;
    table-layout    : fixed;
}

table.sf td{
    font-size       : 12px;
    border-color    : #666666;
    text-align      : left;
    margin          : 0; 
    padding         : 2px 2px 2px; 
    border-style    : none solid solid none; 
    border-width    : medium 1px 1px medium; 
    width           : 260px;
    text-overflow   : ellipsis;
    white-space     : nowrap;
    overflow        : hidden;
}

table.sf th{
    border-left:0px solid #666666; border-right:1px solid #666666; border-top:0px solid #666666; border-bottom:1px solid #666666; text-align      : center; 
    vertical-align  : middle; 
    font-weight     : bold;
    background-color: #CCCCCC; 
    padding         : 2px; 
    width           : 110px; 
    min-height	    : 28px;
    font-style:normal; font-variant:normal; font-size:12px 
}

table.sf2{
    border-style    : solid; 
    border-width    : 1px 1px 1px 1px; 
    border-color    : #666666;
    empty-cells     : show;
    margin          : 0;
    width           : 480px;
    border-collapse : collapse;
    table-layout    : fixed;
}

table.sf2 td{
    font-size       : 12px;
    border-color    : #666666;
    text-align      : left;
    margin          : 0; 
    padding         : 2px 2px 2px; 
    border-style    : none solid solid none; 
    border-width    : medium 1px 1px medium; 
    width           : 140px;
    text-overflow   : ellipsis;
    white-space     : nowrap;
    overflow        : hidden;
}

table.sf2 th{
    border-left:0px solid #666666; border-right:1px solid #666666; border-top:0px solid #666666; border-bottom:1px solid #666666; text-align      : center; 
    vertical-align  : middle; 
    font-weight     : bold;
    background-color: #CCCCCC; 
    padding         : 2px; 
    width           : 100px; 
    font-style:normal; font-variant:normal; font-size:12px 
}

/* Must Input CSS */
.must{
    color           :#cc3300;
}

/* ŒÚ‹qƒƒ‚  CSS */
.remarks{
    color           :red;
    textarea.multi {ime-mode:active};
}

/* List Table CSS */
table.lt{ 
    padding         : 0x 0x 0x 0x; 
    border-style    : solid; 
    border-width    : 1px 1px 1px 1px; 
    border-color    : #666666;
    border-collapse : collapse;
    table-layout    : fixed;
}

table.lt th { 
    border-left:0px solid #666666; border-right:1px solid #666666; border-top:0px solid #666666; border-bottom:1px solid #666666; font-weight     : bold;
    font-size       : 12px;
    padding         : 2px; 
    
}
table.lt td { 
    font-size       : 12px;
    margin          : 0; 
    padding         : 3px 2px 2px;
    border-style    : none solid solid none; 
    border-width    : medium 1px 1px medium; 
    border-color    : #666666;
    text-overflow   : ellipsis;
    white-space     : nowrap;
    overflow        : hidden;
}

table.lt .head{ 
    background-color: #CCCCFF;
}

table.lt .gre{
    text-align      : center; 
    vertical-align  : middle; 
    font-weight     : bold;
    background-color: #c0d2ec; 
    padding         : 2px; 
    width           : 110px; 
    border-style    : solid; 
    border-width    : 0 1px 1px 0; 
}

/* List2 Table CSS */
table.lt2{ 
    padding         : 0x 0x 0x 0x; 
    border-style    : solid; 
    border-width    : 1px 1px 1px 1px; 
    border-color    : #666666;
    border-collapse : collapse;
    table-layout    : fixed;
}

table.lt2 th { 
    border-left:0px solid #666666; border-right:1px solid #666666; border-top:0px solid #666666; border-bottom:1px solid #666666; font-weight     : bold;
    font-size       : 12px;
    padding         : 2px; 
    
}
table.lt2 td { 
    font-size       : 12px;
    margin          : 0; 
    padding         : 3px 2px 2px;
    border-style    : none solid solid none; 
    border-width    : medium 1px 1px medium; 
    border-color    : #666666;
    text-overflow   : ellipsis;
    white-space     : nowrap;
    overflow        : hidden;
}

table.lt2 .head{ 
    background-color: #c7e7f9;
}

table.lt2 .gre{
    text-align      : center; 
    vertical-align  : middle; 
    font-weight     : bold;
    background-color: #c0d2ec; 
    padding         : 2px; 
    width           : 110px; 
    border-style    : solid; 
    border-width    : 0 1px 1px 0; 
}

table.ft{
    font-size       : 12px;
    border-style    : solid; 
    border-width    : 1px 1px 1px 1px; 
    border-color    : #666666;
    empty-cells     : show;
    margin          : 0;
    width           : 740px;
    border-collapse : collapse;
    table-layout    : fixed;
}
table.ft tr{
	min-height	 : 28px;
}
table.ft th {
    font-weight     : bold;
    border-left:0px solid #666666; border-right:1px solid #666666; border-top:0px solid #666666; border-bottom:1px solid #666666; text-align      : center; 
    vertical-align  : middle; 
    background-color: #CCCCCC; 
    padding         : 2px; 
    width           : 110px;
    font-style:normal;
    font-variant:normal;
    font-size:12px 
}

table.ft td{
    border-color    : #666666;
    text-align      : left;
    margin          : 0; 
    padding         : 2px 2px 2px; 
    border-style    : none solid solid none; 
    border-width    : medium 1px 1px medium;
    text-overflow   : ellipsis;
    white-space     : nowrap;
    overflow        : hidden;
}
table.ft .head{ 
    background-color: #c7e7f9;
}
table.ft .gre{
    text-align      : center; 
    vertical-align  : middle; 
    font-weight     : bold;
    background-color: #c0d2ec; 
    padding         : 2px; 
    width           : 110px; 
    border-style    : solid; 
    border-width    : 0 1px 1px 0; 
}

table.ft2{
    font-size       : 12px;
    border-style    : solid; 
    border-width    : 1px 1px 1px 1px; 
    border-color    : #666666;
    empty-cells     : show;
    margin          : 0;
    width           : 740px;
    border-collapse : collapse;
}

table.ft2 th {
    font-weight     : bold;
    border-left:0px solid #666666; border-right:1px solid #666666; border-top:0px solid #666666; border-bottom:1px solid #666666; text-align      : center; 
    vertical-align  : middle; 
    background-color: #fafad2; 
    padding         : 2px; 
    width           : 110px; 
    height          : 28px;
    font-style:normal;
    font-variant:normal;
    font-size:12px 
}

table.ft2 td{
    border-color    : #666666;
    text-align      : left;
    margin          : 0; 
    padding         : 2px 2px 2px; 
    border-style    : none solid solid none; 
    border-width    : medium 1px 1px medium;
    text-overflow   : ellipsis;
    white-space     : nowrap;
    overflow        : hidden;
}
/**/
table.lt2{ 
    padding         : 0x 0x 0x 0x; 
    border-style    : solid; 
    border-width    : 1px 1px 1px 1px; 
    border-color    : #666666;
    border-collapse : collapse;
    table-layout    : fixed;
}
table.lt2 .head{ 
    background-color: #c7e7f9;
}

table.lt2 th { 
    border-left:0px solid #666666; border-right:1px solid #666666; border-top:0px solid #666666; border-bottom:1px solid #666666; font-weight     : bold;
    font-size       : 12px;
    padding         : 2px; 
    
}

table.lt2 .gre{
    text-align      : center; 
    vertical-align  : middle; 
    font-weight     : bold;
    background-color: #c0d2ec; 
    padding         : 2px; 
    width           : 110px; 
    border-style    : solid; 
    border-width    : 0 1px 1px 0; 
}

table.lt2 td { 
    font-size       : 12px;
    margin          : 0; 
    padding         : 3px 2px 2px;
    border-style    : none solid solid none; 
    border-width    : medium 1px 1px medium; 
    border-color    : #666666;
    text-overflow   : ellipsis;
    white-space     : nowrap;
    overflow        : hidden;
}


/* PopupWindow Search table CSS */
table.search_sf{
    border-style    : solid; 
    border-width    : 1px 1px 1px 1px; 
    border-color    : #666666;
    empty-cells     : show;
    margin          : 0;
    width           : 560px;
    border-collapse : collapse;
    table-layout    : fixed;
}

table.search_sf td{
    font-size       : 12px;
    border-color    : #666666;
    text-align      : left;
    margin          : 0; 
    padding         : 2px 2px 2px; 
    border-style    : none solid solid none; 
    border-width    : medium 1px 1px medium; 
    width           : 180px;
    text-overflow   : ellipsis;
    white-space     : nowrap;
    overflow        : hidden;
}

table.search_sf th{
    border-left:0px solid #666666; border-right:1px solid #666666; border-top:0px solid #666666; border-bottom:1px solid #666666; text-align      : center; 
    vertical-align  : middle; 
    font-weight     : bold;
    background-color: #fafad2; 
    padding         : 2px; 
    width           : 100px; 
    height          : 28px;
    font-style:normal; font-variant:normal; font-size:12px 
}



/* Input CSS */
input.half {ime-mode:disabled}
input.code {ime-mode:disabled}
input.code2 {ime-mode:disabled}
input.code3 {ime-mode:disabled}
input.numcode {ime-mode:disabled}
input.ymd {ime-mode:disabled}
input.ym {ime-mode:disabled}
input.tel {ime-mode:disabled}
input.zip {ime-mode:disabled}
input.zip1 {ime-mode:disabled}
input.zip2 {ime-mode:disabled}
input.multi {ime-mode:active}
input.num {ime-mode:disabled;text-align:right}
input.float {ime-mode:disabled;text-align:right}
input.int {ime-mode:disabled;text-align:right}
input.en {ime-mode:disabled}
input.time {ime-mode:disabled}
textarea.multi {ime-mode:active}
input.color {ime-mode:disabled}
input.mail {ime-mode:disabled}
input.mail2 {ime-mode:disabled}

/* page title */
.pt{
    display         : inline;
}
.pd{
    font-size       : 10pt;
    font-weight     : bold;
}

font{
    font-size       : 10pt;
    font-weight     : bold;
}

.listdiv{
    overflow:auto;
    /*height: expression( this.scrollHeight > 200 ? "200px" : "auto" );  sets max-height for IE */
    /*max-height: 200px;  sets max-height value for all standards-compliant browsers */
}

.error_strings{ font-family:Verdana; font-size:16pt; color:#660000;}
div.ellipsis{width:100%;overflow:hidden;text-overflow:ellipsis}

/* common default css*/
img {border:0px none;}
form{margin:0px;}
iframe {font-size:10pt;margin: 0 0 0 0;}

/* Total Amount Color */
.totalAmountMinus {
	background-color:#FFA0D2;
}

.totalAmountPlus {
	background-color:#D8E0F5;
}

.totalAmountOther {
	background-color:#EEEEEE;
}