@charset "UTF-8";
body { font-family: "游ゴシック体", "YuGothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "MS Gothic", "ＭＳ ゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px; }

html { font-size: 12px; }

@media screen and (max-width: 768px) { * { font-size: 12px !important; }
  * .form-control { font-size: 12px !important; }
  * .form-control::-webkit-input-placeholder { font-size: 12px !important; }
  * .form-control:-ms-input-placeholder { font-size: 12px !important; }
  * .form-control::-ms-input-placeholder { font-size: 12px !important; }
  * .form-control::placeholder { font-size: 12px !important; } }

.container-fluid-custom { padding-left: 47px; }

@media screen and (max-width: 767px) { .container-fluid-custom { padding-left: 15px; } }

.iw-100 { min-width: 100px; }

a { color: #2962ad; text-decoration: none; }

a:hover { color: #ed6c28; }

.bg-blue { background: #2962ad; color: #fff; }

.bg-white { background: #fff; }

.bg-light-blue { background: #e5e8f5; }

.bg-black { background: #333333; }

.bg-header-table { background: #f1f1f1; }

.bg-button { background-color: #ed6c28; }

.margin-0 { margin: 0; }

.padding-0 { padding: 0; }

.color-oranges { color: #ed6c28; }

.color-text-main { color: #2962ad; }

/***********************************/
/*** CSS  Collapse *****************/
/***********************************/
.wz-card .card-header { height: 35px; }

.wz-card .card-header:hover i { color: #f29868; }

.wz-card .card-header h4 a { font-size: 14px; position: relative; padding: 12px 15px 5px 57px; }

@media screen and (max-width: 768px) { .wz-card .card-header h4 a { padding: 11px 15px 5px 57px; } }

.wz-card .card-header h4 a i { position: absolute; top: 50%; left: 25px; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); color: #fff; }

.wz-card .card-header h4 a i::before { content: "\f078"; }

.wz-card .card-header h4 a.collapsed i::before { content: "\f077"; }

/***********************************/
/*** END CSS  Collapse *************/
/***********************************/
.tooltip { margin-top: 70px; display: block !important; }

.tooltip.show { opacity: 1 !important; }

.tooltip > .arrow { border-bottom-color: dodgerblue; margin-top: 40px; }

.tooltip > .arrow:before { right: 0; border-width: 0 1.4rem 1.4rem 0; border-right-color: #fce4d8; top: -40px; }

/*tooltip inner*/
.tooltip > .tooltip-inner { font-weight: normal; min-width: 300px; height: 90px; background: #fce4d8; color: #000; text-align: left; padding: 20px 15px; }

.main-filter .content-main { max-width: 1490px; }

@media screen and (max-width: 415px) { .main-filter .wz-card .card-body { text-align: center; } }

.main-filter .wz-card .card-body .field-layout { margin-bottom: 10px; }

.main-filter .wz-card .card-body .field-layout .field .icon { color: #6c757d !important; font-size: 20px; }

@media screen and (max-width: 768px) { .main-filter .wz-card .card-body .field-layout { display: block !important; }
  .main-filter .wz-card .card-body .field-layout .label { width: 100%; margin-top: 10px; text-align: center; margin-bottom: 10px; } }

.main-filter .wz-card .card-body .btn-select { width: 185px; margin: 6px 10px 5px 12px; }

@media (min-width: 1708px) and (max-width: 1900px) { .main-filter .wz-card .card-body .btn-select { width: 165px; } }

@media (min-width: 1508px) and (max-width: 1708px) { .main-filter .wz-card .card-body .btn-select { width: 145px; } }

@media (min-width: 1360px) and (max-width: 1507px) { .main-filter .wz-card .card-body .btn-select { width: 125px; } }

@media (min-width: 1200px) and (max-width: 1358px) { .main-filter .wz-card .card-body .btn-select { width: 155px; } }

@media (min-width: 1024px) and (max-width: 1199px) { .main-filter .wz-card .card-body .btn-select { width: 135px; } }

@media (min-width: 769px) and (max-width: 1023px) { .main-filter .wz-card .card-body .btn-select { width: 125px; } }

@media screen and (max-width: 768px) { .main-filter .wz-card .card-body .btn-select { width: 150px; } }

.main-filter .wz-card .card-body .btn-select:hover { background-color: #f29868 !important; }

.main-filter .wz-card .card-body .btn-select:hover .title { color: #fff; overflow: visible; }

.main-filter .wz-card .card-body .btn-select:hover .price { color: #fff; }

.main-filter .wz-card .card-body .btn-select:hover .price .text { color: #fff; }

.main-filter .wz-card .card-body .btn-select .title { text-align: left; float: left; color: #2962ad; margin-top: 2px; width: 67%; white-space: nowrap; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; position: relative; -webkit-transition: max-width linear .5s; -o-transition: max-width linear .5s; transition: max-width linear .5s; }

.main-filter .wz-card .card-body .btn-select .price { text-align: right; float: right; color: #000; margin-top: 2px; width: 33%; }

.main-filter .wz-card .card-body .btn-select .price .text { color: #2962ad; }

.main-filter .wz-card .card-body .label { background: #f1f1f1; font-size: 11px; text-align: left; padding: 5px 10px; margin-right: 8px; color: #2962ad; font-weight: bold; margin-bottom: 0; border: 1px solid #e6e6e6; }

.main-filter .wz-card .card-body .label .chu-y { color: #ce261f; margin-left: 5px; }

.main-filter .wz-card .card-body select { font-size: 18px; color: #333333; }

.main-filter .wz-card .card-body .form-control { outline: none; width: 100%; font-size: 11px; color: #333333; }

.main-filter .wz-card .card-body .form-control::-webkit-input-placeholder { padding-left: 5px; color: #333333 !important; }

.main-filter .wz-card .card-body .form-control:-ms-input-placeholder { padding-left: 5px; color: #333333 !important; }

.main-filter .wz-card .card-body .form-control::-ms-input-placeholder { padding-left: 5px; color: #333333 !important; }

.main-filter .wz-card .card-body .form-control::placeholder { padding-left: 5px; color: #333333 !important; }

@media screen and (max-width: 1199px) { .main-filter .wz-card .card-body .form-control { width: 100%; } }

@media (min-width: 320px) and (max-width: 768px) { .main-filter .wz-card .card-body .datarange-one .date-input { max-width: 43% !important; margin-left: 4px; } }

@media (min-width: 1708px) and (max-width: 1900px) { .main-filter .wz-card .card-body .datarange-one .date-input { max-width: 26% !important; margin-right: 7px !important; }
  .main-filter .wz-card .card-body .datarange-one .time { max-width: 15% !important; } }

@media (min-width: 1508px) and (max-width: 1708px) { .main-filter .wz-card .card-body .datarange-one .date-input { max-width: 24% !important; margin-right: 9px !important; }
  .main-filter .wz-card .card-body .datarange-one .time { max-width: 15% !important; } }

@media (min-width: 1360px) and (max-width: 1507px) { .main-filter .wz-card .card-body .datarange-one .date-input { max-width: 22% !important; margin-right: 9px !important; }
  .main-filter .wz-card .card-body .datarange-one .time { max-width: 15% !important; } }

@media (min-width: 1201px) and (max-width: 1359px) { .main-filter .wz-card .card-body .datarange-one { margin-bottom: 10px; }
  .main-filter .wz-card .card-body .datarange-one .date-input { max-width: 49% !important; margin-right: 21px !important; margin-bottom: 10px; }
  .main-filter .wz-card .card-body .datarange-one .time { width: 32% !important; margin-bottom: 10px; }
  .main-filter .wz-card .card-body .datarange-one span { width: 100%; } }

@media screen and (max-width: 1200px) { .main-filter .wz-card .card-body .datarange-one { display: block !important; margin-bottom: 5px; }
  .main-filter .wz-card .card-body .datarange-one .label { width: 100%; text-align: center; margin-bottom: 10px; }
  .main-filter .wz-card .card-body .datarange-one .field .date-range { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .main-filter .wz-card .card-body .datarange-one .field .date-range .icon { width: 5%; }
  .main-filter .wz-card .card-body .datarange-one .field .date-range .date-input { max-width: 45%; margin-right: 3px; }
  .main-filter .wz-card .card-body .datarange-one .field .date-range .time { min-width: 44%; }
  .main-filter .wz-card .card-body .datarange-one .field .date-range span { width: 100%; text-align: left; margin: 0; } }

.main-filter .wz-card .card-body .datarange-one .field .date-input { margin-right: 12px; }

@media (min-width: 320px) and (max-width: 768px) { .main-filter .wz-card .card-body .datarange-two .date-input { max-width: 88% !important; margin-left: 6px; } }

@media (min-width: 1360px) and (max-width: 1900px) { .main-filter .wz-card .card-body .datarange-two .date-input { max-width: 30% !important; } }

@media (min-width: 1201px) and (max-width: 1359px) { .main-filter .wz-card .card-body .datarange-two { margin-bottom: 10px; }
  .main-filter .wz-card .card-body .datarange-two span { width: 100%; } }

@media screen and (max-width: 1200px) { .main-filter .wz-card .card-body .datarange-two { display: block !important; margin-bottom: 5px; }
  .main-filter .wz-card .card-body .datarange-two .label { width: 100%; text-align: center; margin-bottom: 10px; }
  .main-filter .wz-card .card-body .datarange-two .field .date-range { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .main-filter .wz-card .card-body .datarange-two .field .date-range .icon { width: 5%; }
  .main-filter .wz-card .card-body .datarange-two .field .date-range .date-input { max-width: 90%; }
  .main-filter .wz-card .card-body .datarange-two .field .date-range span { width: 100%; text-align: left; margin: 0; } }

@media screen and (max-width: 1200px) { .main-filter .wz-card .card-body .datarange-three { display: block !important; margin-bottom: 5px; }
  .main-filter .wz-card .card-body .datarange-three .label { width: 100%; text-align: center; margin-bottom: 10px; }
  .main-filter .wz-card .card-body .datarange-three .field .date-range .date-input { min-width: 100%; } }

@media screen and (max-width: 1199px) { .main-filter .wz-card .card-body .field .date-range { margin-bottom: 8px; } }

.main-filter .wz-card .card-body .field .date-range .icon { margin-right: 11px; color: #2962ad; }

.main-filter .wz-card .card-body .field .date-range .date-input { max-width: 85px; }

.main-filter .wz-card .card-body .field .date-range span { margin-right: 5px; margin-left: 5px; color: #2962ad; }

.main-filter .wz-card .card-body .field .date-range .time { width: 60px; }

.main-filter .card1 { margin-top: 10px; }

.main-filter .card1 .card-body { padding: 15px; }

.main-filter .card2 { margin-top: 10px; }

.main-filter .card2 .card-body { background-color: #fff; padding: 22px; }

.main-filter .justify-content-end .btn-custom { background-color: #0086ab; color: #fff; width: 140px; height: 40px; border-radius: 0; border: 5px solid #e6e6e6; }

.main-filter .justify-content-end .btn-custom:hover { background: #ed6c28; }

@media screen and (max-width: 1023px) { .main-filter .justify-content-end .btn-custom { width: 100%; margin-top: 20px; } }

.form-result .header-result { margin-top: 47px; width: 100%; }

.form-result .header-result .count { margin-bottom: 15px; width: 45%; max-width: 650px; margin-right: 5px; }

@media (min-width: 1025px) and (max-width: 1900px) { .form-result .header-result .count { width: 70%; }
  .form-result .header-result .count .title { width: 7% !important; margin-right: 5 !important; }
  .form-result .header-result .count .total { width: 58% !important; }
  .form-result .header-result .count .total .text { width: 20% !important; }
  .form-result .header-result .count .total .val { width: 80% !important; }
  .form-result .header-result .count .number-show .text { width: 30% !important; }
  .form-result .header-result .count .number-show .form-control { width: 70% !important; } }

@media screen and (max-width: 1024px) { .form-result .header-result .count { width: 100%; } }

@media (min-width: 768px) and (max-width: 816px) { .form-result .header-result .count .title { width: 13% !important; }
  .form-result .header-result .count .total { width: 52% !important; } }

@media screen and (max-width: 767px) { .form-result .header-result .count { width: 100%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .form-result .header-result .count .title { margin-bottom: 10px; width: 100% !important; }
  .form-result .header-result .count .total { width: 100% !important; }
  .form-result .header-result .count .number-show { width: 100% !important; margin-top: 10px; }
  .form-result .header-result .count .number-show .text { width: 40%; padding-top: 2px !important; }
  .form-result .header-result .count .number-show select { width: 60%; } }

.form-result .header-result .count .title { margin-right: 5px; padding-top: 9px; color: #2962ad; }

.form-result .header-result .count .total { height: 35px; width: 35%; margin-right: 10px; border: 1px solid #2962ad; }

.form-result .header-result .count .total .text { width: 40%; text-align: center; padding-top: 10px; }

.form-result .header-result .count .total .val { width: 60%; text-align: right; padding-top: 8px; margin-right: 5px; color: #000; }

.form-result .header-result .number-show { width: 35%; }

.form-result .header-result .number-show .text { width: 40%; background: #f1f1f1; font-size: 11px; text-align: center; padding: 5px 5px; margin-right: 10px; color: #2962ad; margin-top: 5px; height: 25px; border: 1px solid #e6e6e6; }

.form-result .header-result .number-show select { margin-top: 5px; text-align: center; color: #000; font-size: 11px; width: 115px; }

.form-result .header-result .search { max-width: 500px; margin-bottom: 10px; width: 40%; padding: 15px 10px 13px 5px; color: #000; }

@media (min-width: 1025px) and (max-width: 1900px) { .form-result .header-result .search { width: 65%; }
  .form-result .header-result .search .filter .label { margin-right: 0 !important; } }

@media screen and (max-width: 1024px) { .form-result .header-result .search { width: 100%; } }

@media screen and (max-width: 767px) { .form-result .header-result .search { width: 100%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .form-result .header-result .search .content-search { width: 100% !important; }
  .form-result .header-result .search .content-search .orderby { padding: 0 14px 0 0px; }
  .form-result .header-result .search .filter { padding-right: 0 !important; }
  .form-result .header-result .search .filter .label { width: 45% !important; margin-right: 10px !important; }
  .form-result .header-result .search .filter .form-control { width: 55%; }
  .form-result .header-result .search .action { width: 100% !important; text-align: left; margin-top: 10px; } }

.form-result .header-result .search .content-search { display: -webkit-box; display: -ms-flexbox; display: flex; }

.form-result .header-result .search .orderby { margin-top: 4px; padding: 0 24px 0 10px; }

.form-result .header-result .search .orderby .label { margin-top: 3px; margin-right: 5px; }

.form-result .header-result .search .filter { margin-top: 4px; padding-right: 15px; }

.form-result .header-result .search .filter .label { width: 50px; margin-top: 6px; margin-right: 10px; color: #3260ab; font-weight: bold; }

.form-result .header-result .search .action { margin-top: 4px; }

.form-result .header-result .search .action .btn-custom { height: 25px; color: #fff; font-size: 11px; background: #6c757d; outline: none; width: 120px; }

.form-result .header-result .search .action .btn-custom:hover { background: #ed6c28; }

.form-result .header-result .pagination { width: 45%; margin-bottom: 10px; margin-top: 10px; max-width: 430px; }

@media screen and (max-width: 1024px) { .form-result .header-result .pagination { width: 100%; } }

@media (min-width: 768px) and (max-width: 884px) { .form-result .header-result .pagination .page { width: 45% !important; }
  .form-result .header-result .pagination .page .fa { font-size: 20px !important; } }

@media screen and (max-width: 767px) { .form-result .header-result .pagination { width: 100%; margin-bottom: 40px; }
  .form-result .header-result .pagination .page { width: auto !important; }
  .form-result .header-result .pagination .page li { margin-right: 13px !important; }
  .form-result .header-result .pagination .page li .fa-angle-left { margin-right: 0 !important; }
  .form-result .header-result .pagination .page li .fa { font-size: 20px !important; } }

@media screen and (max-width: 374px) { .form-result .header-result .pagination { display: block !important; }
  .form-result .header-result .pagination .title { width: 100%; text-align: center !important; } }

.form-result .header-result .pagination .title { background: #f1f1f1; border: 1px solid #e6e6e6; font-size: 11px; text-align: left; padding: 4px 15px 4px; margin-right: 5px; margin-top: 5px; color: #2962ad; height: 25px; }

.form-result .header-result .pagination .page { margin-left: 3px; }

.form-result .header-result .pagination .page ul { list-style: none; padding-left: 0; }

.form-result .header-result .pagination .page ul li { margin-right: 10px; list-style-type: none; float: left; }

.form-result .header-result .pagination .page ul li select { width: auto; display: inline-block !important; margin-right: 5px; font-size: 11px; margin-top: 5px; }

.form-result .header-result .pagination .page ul li span { font-size: 11px; color: #6c757d; }

.form-result .header-result .pagination .page ul li a .fa { margin-top: 7px; font-size: 20px; color: #6c757d; font-weight: bold; }

.form-result .header-result .pagination .page ul li a .fa:hover { color: #2962ad; }

.form-result .header-result .pagination .set-page { margin-top: 5px; }

.form-result .header-result .pagination .set-page .form-control { width: 30px; border: 1px solid #325fab; }

.form-result .header-result .pagination .set-page button { height: 31px; }

.form-result .header-result .pagination .set-page button:hover { color: #325fab; }

.form-result .form-result-data { margin-bottom: 100px; }

@media (min-width: 1360px) and (max-width: 1920px) { .form-result .form-result-data { padding-right: 50px; } }

.form-result .form-result-data .table-responsive-1 { text-align: center; width: 100%; overflow: hidden; }

.form-result .form-result-data .table-responsive-1 .d-table { width: 100%; border: 1px solid #6c757d; table-layout: fixed; }

.form-result .form-result-data .table-responsive-1 .d-table .d-table-header { position: relative; }

.form-result .form-result-data .table-responsive-1 .d-table .table-header { text-align: center; font-weight: bold; font-size: 11px; }

.form-result .form-result-data .table-responsive-1 .d-table .d-table-body { overflow: auto; width: 100%; height: 500px; }

.form-result .form-result-data .table-responsive-1 .d-table .d-table-body::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); background-color: #F5F5F5; border-radius: 10px; }

.form-result .form-result-data .table-responsive-1 .d-table .d-table-body::-webkit-scrollbar { width: 10px; height: 10px; background-color: #F5F5F5; border-radius: 10px; }

.form-result .form-result-data .table-responsive-1 .d-table .d-table-body::-webkit-scrollbar-thumb { border-radius: 10px; background-color: #2962ad; }

.form-result .form-result-data .table-responsive-1 .d-table .d-table-row .td-hover-text { white-space: nowrap; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; max-width: 100px; }

.form-result .form-result-data .table-responsive-1 .d-table .d-table-row .tabel-min { min-width: 100px !important; }

.form-result .form-result-data .table-responsive-1 .d-table .d-table-row .tabel-cell-min { min-width: 125px !important; }

.form-result .form-result-data .table-responsive-1 .d-table .d-table-row .tabel-check { min-width: 50px !important; }

.form-result .form-result-data .table-responsive-1 .d-table .d-table-row .d-table-cell { border: 1px solid #d7d7d7; font-size: 11px; color: #000; padding: 3px 5px; min-width: 250px; }

.form-result .form-result-data .table-responsive-1 .d-table .d-table-row .d-table-cell a { text-decoration: underline; }

.form-result .form-result-data .table-responsive-1 .d-table .d-table-row .d-table-cell span { width: 100%; }

.main-menu { position: fixed; top: 0; left: -325px; bottom: 0; width: 320px; overflow: auto; -webkit-box-shadow: 0 0 8px 0 rgba(102, 102, 102, 0.5); box-shadow: 0 0 8px 0 rgba(102, 102, 102, 0.5); -webkit-transition: left 0.3s; -o-transition: left 0.3s; transition: left 0.3s; }

.main-menu .menu-header { height: 40px; border-bottom: 1px solid #d7d7d7; position: relative; }

.main-menu .menu-header button { cursor: pointer; width: 40px; height: 40px; position: absolute; right: 0; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); background: transparent; border: 0; }

.main-menu .menu-header button::before { content: ''; display: block; margin: auto; width: 17px; border-bottom: solid 2px #2e2e2e; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.main-menu .menu-header button::after { content: ''; display: block; margin: auto; width: 17px; border-bottom: solid 2px #2e2e2e; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); margin-top: -2px; }

.main-menu ul > li > a .sub-arrow { position: absolute; top: 50%; right: 15px; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }

.main-menu ul > li ul { display: none; }

.main-menu.open { left: 0; }

.inline-block { display: inline-block; }

.mobile-btn::before, .mobile-btn::after { content: ''; height: 2px; width: 100%; display: block; background: #333; }

.mobile-btn span { height: 2px; width: 100%; display: block; background: #333; margin: 5px 0; }

.m-overlay { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 999999; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; opacity: 0; visibility: hidden; }

.m-overlay.open { opacity: 1; visibility: visible; }

.mobile-menu { position: fixed; top: 0; left: -300px; bottom: 0; background: #fff; width: 290px; -webkit-box-shadow: 0 0 8px 0 rgba(102, 102, 102, 0.5); box-shadow: 0 0 8px 0 rgba(102, 102, 102, 0.5); z-index: 999999; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; overflow: auto; }

.mobile-menu .mheader { height: 45px; position: relative; }

.mobile-menu .mheader button { cursor: pointer; display: inline-block; vertical-align: middle; width: 40px; height: 40px; border-radius: 100%; position: absolute; z-index: 99999; right: 0px; background: transparent; border: 0; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); outline: none; }

.mobile-menu .mheader button i { width: auto; height: auto; border: none; }

.mobile-menu .mheader button i::before { content: ''; display: block; margin: auto; width: 17px; border-bottom: solid 2px #2e2e2e; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.mobile-menu .mheader button i::after { content: ''; display: block; margin: auto; width: 17px; border-bottom: solid 2px #2e2e2e; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); margin-top: -2px; }

.mobile-menu > ul { list-style: none; margin: 0; padding: 0; }

.mobile-menu > ul > li > a { display: block; border: none; border-top: solid 1px #e6e6e6; line-height: 20px; color: #2962ad; margin: 0px; text-decoration: none; position: relative; font-weight: 400; text-transform: uppercase; }

.mobile-menu > ul > li > a i { display: block; font-style: normal; height: 40px; width: 40px; text-align: center; padding-top: 2px; font-size: 16px; line-height: 39px; color: #2e2e2e; position: absolute; z-index: 1; cursor: pointer; top: 0; right: 0; bottom: 0; }

.mobile-menu > ul > li > a > .icon-menu { display: inline-block; position: inherit; color: #2962ad; background-color: unset; margin-right: 10px; margin-left: 10px; }

.mobile-menu > ul > li > ul { padding: 0; margin: 0; background: rgba(0, 0, 0, 0.03); display: none; overflow: hidden; }

.mobile-menu > ul > li > ul > li { display: block; }

.mobile-menu > ul > li > ul > li > a { display: block; font-size: 11px; line-height: 20px; background: none; color: #2962ad; border: none; border-top: solid 1px #e6e6e6; padding: 10px 15px 10px 30px; margin: 0px; font-weight: 400; position: relative; }

.mobile-menu > ul > li > ul > li > a:hover { background-color: #ed6c28; color: #fff; text-decoration: none; }

.mobile-menu > ul > li > ul > li > a i { display: block; font-style: normal; height: 40px; width: 40px; text-align: center; padding-top: 2px; font-size: 16px; line-height: 39px; background: rgba(0, 0, 0, 0.03); color: #2e2e2e; position: absolute; z-index: 1; cursor: pointer; top: 0; right: 0; bottom: 0; }

.mobile-menu > ul > li > ul > li > ul { padding: 0; margin: 0; background: rgba(0, 0, 0, 0.03); display: none; overflow: hidden; }

.mobile-menu > ul > li > ul > li > ul > li { display: block; }

.mobile-menu > ul > li > ul > li > ul > li > a { display: block; font-size: 14px; line-height: 20px; background: none; color: #2e2e2e; border: none; border-top: solid 1px #e6e6e6; padding: 10px 15px 10px 45px; margin: 0px; font-weight: 400; }

.mobile-menu > ul > li.open ul { max-height: 1000px; }

.mobile-menu.open { left: 0; }

.mobile-menu .info { padding: 15px; background: #f1f1f1; }

.mobile-menu .info ul { margin: 0; padding: 0; list-style: none; }

.mobile-menu .info ul li { padding: 10px 0; }

.mobile-menu .info ul li .item { position: relative; padding-left: 45px; }

.mobile-menu .info ul li .item .icon { position: absolute; top: 50%; left: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); width: 34px; height: 34px; border: 1px solid #9a9a9a; text-align: center; font-size: 16px; color: #9a9a9a; border-radius: 50%; line-height: 32px; }

.mobile-menu .info ul li .item .text h3 { margin: 0 0 5px; padding: 0; font-size: 16px; font-weight: 700; color: #0094da; }

.mobile-menu .info ul li .item .text p { margin: 0; font-size: 13px; color: #555555; }

.mobile-menu .info ul li .item .text.hotro h3 { font-size: 13px; }

.page-title { position: relative; height: 35px; }

.page-title .openmenu { width: 50px; height: 100%; text-align: center; }

.page-title .openmenu .fa-chevron-left { font-size: 30px !important; position: absolute; left: 15px; top: 12%; color: #fff; }

.page-title .container-fluid-custom .justify-content-between .breadcrumb-wapper .breadcrumb { padding-top: 8px; background: none; padding-left: 25px; }

@media screen and (max-width: 767px) { .page-title .container-fluid-custom .justify-content-between .breadcrumb-wapper .breadcrumb { padding-left: 41px; padding-top: 7px; } }

@media (min-width: 320px) and (max-width: 360px) { .page-title .container-fluid-custom .justify-content-between .breadcrumb-wapper .breadcrumb { padding-top: 10px; } }

.page-title .container-fluid-custom .justify-content-between .breadcrumb-wapper .breadcrumb li { font-size: 12px; }

@media (min-width: 320px) and (max-width: 360px) { .page-title .container-fluid-custom .justify-content-between .breadcrumb-wapper .breadcrumb li { font-size: 12px; } }

.page-title .container-fluid-custom .justify-content-between .breadcrumb-wapper .breadcrumb li a { color: #fff; font-size: 12px; text-decoration: none; margin-right: 15px; }

@media (min-width: 320px) and (max-width: 360px) { .page-title .container-fluid-custom .justify-content-between .breadcrumb-wapper .breadcrumb li a { font-size: 12px; } }

.page-title .container-fluid-custom .justify-content-between .breadcrumb-wapper .breadcrumb li a:hover { color: #ed6c28; }

.page-title .container-fluid-custom .justify-content-between .help { padding-top: 8px; margin-right: 50px; }

@media (min-width: 320px) and (max-width: 767px) { .page-title .container-fluid-custom .justify-content-between .help { margin-right: 0; padding-top: 7px; } }

.page-title .container-fluid-custom .justify-content-between .help a { color: #fff; font-size: 12px; text-decoration: underline; }

@media (width: 320px) { .page-title .container-fluid-custom .justify-content-between .help a { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; } }

@media (min-width: 320px) and (max-width: 360px) { .page-title .container-fluid-custom .justify-content-between .help a { font-size: 12px; } }

.page-title .container-fluid-custom .justify-content-between .help a:hover { color: #ed6c28; }

.page-title .container-fluid-custom .justify-content-between .help a .fa-chevron-up { margin-left: 10px; }

.header { height: 70px; padding-top: 18px; }

@media screen and (max-width: 767px) { .header { height: auto; } }

@media (min-width: 769px) and (max-width: 835px) { .header .container-fluid .justify-content-between .user { margin-right: 0 !important; } }

@media screen and (max-width: 524px) { .header .container-fluid .justify-content-between { display: block !important; }
  .header .container-fluid .justify-content-between .user { width: 100% !important; margin-left: 0 !important; } }

@media screen and (max-width: 767px) { .header .container-fluid .justify-content-between .user { margin-bottom: 10px; width: 70%; margin-left: 5%; } }

.header .container-fluid .justify-content-between .logo { width: 375px; height: auto; }

@media screen and (max-width: 767px) { .header .container-fluid .justify-content-between .logo { width: 40%; margin-bottom: 10px; } }

.header .container-fluid .justify-content-between .logo img { width: 100%; }

.header .container-fluid .justify-content-between .user { margin-right: 50px; }

@media screen and (max-width: 767px) { .header .container-fluid .justify-content-between .user { margin-right: 0; } }

.header .container-fluid .justify-content-between .user .user-name { margin-bottom: 0; margin-top: 3px; margin-right: 20px; font-size: 11px; }

@media (width: 320px) { .header .container-fluid .justify-content-between .user .user-name { margin-right: 10px; } }

.header .container-fluid .justify-content-between .user .user-name .link { margin-right: 4px; }

.header .container-fluid .justify-content-between .user .user-name .link .fa-address-card-o { margin-right: 4px; font-size: 11px; font-weight: bold; }

.header .container-fluid .justify-content-between .user .btn { background: #e0ebfa; font-size: 11px; }

.header .container-fluid .justify-content-between .user .btn:hover { background: #ed6c28; color: #fff; }

/*# sourceMappingURL=main.css.map */